<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rent Agreement Drafting</title>
</head>

<body>

  <div class="container">
    <div id="formContainer" id="form_container"></div>
    <div id="previewContainer" id="preview_container"></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
  <script src="../../components/agreements/Sale_Deed.jsx" type="module"></script>
</body>

</html>